.bg-blue{
    
    background-color: #323c6d;
    background-size: cover;
    background-position: center 50%;
    background-repeat: no-repeat;
}

.fat-content-small{
    padding-left: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

.mh-130{
    min-height: 130px;
}

a.collapse-item{
    color: #999 !important;
}
a.collapse-item:hover{
    color: black !important;
}
a.collapse-item.active{
    background-color: #eaecf4;
    color: black !important;
    font-weight: normal;
}

@media (min-width: 768px){
    .sidebar .nav-item .nav-link i {
        font-size: 1.85rem;
    }

    .sidebar .nav-item .nav-link span {
        font-size: 1.15rem;
    }

    .sidebar .nav-item .nav-link {
        padding: 1.9rem;
    }
}
@media (max-width: 767px){
    .alert.notif-lomba{
        margin-bottom: 80px;
    }
    .waiting-upload h1{
        font-size: 30px;
    }
    .waiting-upload #countdown-karya div{
        font-size: 40px;
        margin: 5px;
    }
}
#countdown-karya div {
    font-size: 55px;
    display: inline;
    margin: 15px;
    border-radius: 10px;
    color: white;
    /* background-color: white; */
    font-weight: regular;
}

.notif-lomba{
    margin: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    box-shadow: 0px 0px 5px black;
    z-index: 9999;
}
#countdown-popup div{
    display: inline;
}